.content{
	width: 1200px;
	margin: 0 auto;
	background: lightpink;
}
.video-outer{
	width: 500px;
	height: 550px;
	border: 1px solid #000;
	position: relative;
	background: lightblue;
}
	.video-outer video , .video-outer canvas{
		width: 100%;
		position: absolute;  
		top: 0;
		left: 0;
	}
	.video-outer video{
		z-index: 1;
	}
	.video-outer canvas{
		z-index: 2;
	}
	.caption-input{
		width: 100%;
		margin-top: 460px;
		background: #ececec;
		height: 30px;
		line-height: 30px;
	}
	.colorItemsTitle{
		float: left;
		margin-right: 10px;
	}
	.colorItems{
		list-style-type: none;
		margin-left: 10px;
	}
	.colorItems>li{
		float: left;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		margin-right: 7px;
		margin-top: 2px;
		cursor: pointer;
	}
		#colorItemFrist{
			background: #fff;
		}
		#colorItemSecond{
			background: #FFCCCC;
		}
		#colorItemThrid{
			background:#CCFFCC ;
		}
		#colorItemFourth{
			background: #CCCCFF;
		}
		#colorItemFifth{
			background: #FFFFCC;
		}
		#colorItemSixth{
			background:#CCFFFF ;
		}
	.selectedColor{
		border:4px solid #444;
		box-sizing: border-box;
	}
	.ismoveTitle{
		float: left;
	}
	.caption-input-ismove{
		float: left;
		/* line-height: 30px; */
	}
	.caption-input-text{
		height: 25px;
		width: 400px;
		float: left;
	}
	.caption-sendButton{
		background: lightblue;
		color: white;
		text-align: center;
		margin-left: 10px;
		cursor: pointer;
		width: 40px;
		height: 30px;
		display: block;
		float: left;
	}