div.footer-outer
	div.footer 
		ul.footer-propaganda
			li.footer-propagadan-frist
				a(href="javascript:void();")
			li.footer-propagadan-second
				a(href="javascript:void();")
			li.footer-propagadan-thrid
				a(href="javascript:void();")
			li.footer-propagadan-fourth
				a(href="javascript:void();")
		ul.footer-links
			li
				a(href="javascript:void();") 企业合作
			li
				a(href="javascript:void();") 人才招聘
			li
				a(href="javascript:void();") 联系我们
			li
				a(href="javascript:void();") 讲师招募
			li
				a(href="javascript:void();") 常见问题
			li
				a(href="javascript:void();") 意见反馈
			li
				a(href="javascript:void();") 慕课大学
			li
				a(href="javascript:void();") 友情链接
		div.footer-divider
		div.footer-copyright
			span © 2017 127.0.0.1  京ICP备 130565564562号-2
		
