div.index-header 
	div.header-left
		div.header-left-logo xing educate
		ul.header-left-list
			li 
				a(href="javascript:void();") 慕课网
			li 
				a(href="javascript:void();") 课程
			li 
				a(href="javascript:void();") 职业路径
			li 
				a(href="javascript:void();") 实战
			li 
				a(href="javascript:void();") 猿问
			li 
				a(href="javascript:void();") 手记
	div.header-right
		div.header-right-search
			input(type="text" name="")
			input(type="submit" name="" value="go" )
		div.header-right-message message
		div.header-right-usr user
