div.index-header 
	div.header-left
		div.header-left-logo Xing educate
		ul.header-left-list
			li 
				a(href="javascript:void();") 慕课网
			li 
				a(href="javascript:void();") 课程
			li 
				a(href="javascript:void();") 职业路径
			li 
				a(href="javascript:void();") 实战
			li 
				a(href="javascript:void();") 猿问
			li 
				a(href="javascript:void();") 手记
	div.header-right
		div.header-right-search
			input(type="text" name="")
			input(type="submit" name="" value=" " )
		div.header-right-message.glyphicon.glyphicon-envelope.hide
		div.header-right-usr.hide
			img(src="./images/pc/index/usr2.jpg") 
		div.header-right-loadbtn 登录
		div.header-right-registerbtn 注册
