<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="../../public/style/public.css" rel="stylesheet" type="text/css">
    <link href="../../public/style/index.css" rel="stylesheet" type="text/css">
    <link href="../../public/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../../public/style/loadOrRegister.css" rel="stylesheet" type="text/css">
  </head>
  <body style="background:#F3F5F7;">
    <div class="index-header"> 
      <div class="header-left">
        <div class="header-left-logo">Xing educate</div>
        <ul class="header-left-list">
          <li> <a href="javascript:void();">慕课网</a></li>
          <li> <a href="javascript:void();">课程</a></li>
          <li> <a href="javascript:void();">职业路径</a></li>
          <li> <a href="javascript:void();">实战</a></li>
          <li> <a href="javascript:void();">猿问</a></li>
          <li> <a href="javascript:void();">手记</a></li>
        </ul>
      </div>
      <div class="header-right">
        <div class="header-right-search">
          <input type="text" name="">
          <input type="submit" name="" value=" ">
        </div>
        <div class="header-right-message glyphicon glyphicon-envelope hide"></div>
        <div class="header-right-usr hide"><img src="../../public/images/pc/index/usr2.jpg"></div>
        <div class="header-right-loadbtn">登录</div>
        <div class="header-right-registerbtn">注册</div>
      </div>
    </div>
    <div class="content-outer">
      <div class="content">
        <div class="banner">
          <ul class="banner-menu">
            <li>前端开发</li>
            <li>后端开发</li>
            <li>移动开发</li>
            <li>数据库</li>
            <li>云计算&大数据</li>
            <li>运维&测试</li>
            <li>UI设计</li>
          </ul>
          <div class="banner-imgs-outer">
            <div class="banner-imgs-img"><a href="javascript:void(0);"><img src="../../public/images/pc/index/banner5.jpg" alt=""></a><a href="javascript:void(0);"><img src="../../public/images/pc/index/banner1.jpg" alt=""></a><a href="javascript:void(0);"><img src="../../public/images/pc/index/banner2.jpg" alt=""></a><a href="javascript:void(0);"><img src="../../public/images/pc/index/banner3.jpg" alt=""></a><a href="javascript:void(0);"><img src="../../public/images/pc/index/banner4.jpg" alt=""></a><a href="javascript:void(0);"><img src="../../public/images/pc/index/banner5.jpg" alt=""></a><a href="javascript:void(0);"><img src="../../public/images/pc/index/banner1.jpg" alt=""></a></div>
          </div>
          <ul class="banner-btns">
            <li id="bt1"></li>
            <li id="bt2"></li>
            <li id="bt3"></li>
            <li id="bt4"></li>
            <li id="bt5"></li>
          </ul><span class="banner-toleft"></span><span class="banner-toright"></span>
          <div class="banner-learnPath">
            <ul class="banner-learnPath-li">
              <li><a href="javascript:void(0);"><img src="../../public/images/pc/index/path_1.png"></a></li>
              <li><a href="javascript:void(0);"><img src="../../public/images/pc/index/path_2.png"></a></li>
              <li><a href="javascript:void(0);"><img src="../../public/images/pc/index/path_3.png"></a></li>
              <li><a href="javascript:void(0);"><img src="../../public/images/pc/index/path_4.png"></a></li>
              <li><a href="javascript:void(0);"><img src="../../public/images/pc/index/path_5.png"></a></li>
            </ul>
          </div>
        </div>
        <div id="firstFloor" class="floor">
          <div class="foolTitle">
            <h3>免费好课</h3><span class="more">更多</span>
          </div>
          <div class="floor-classList">
            <div class="floor-classSin"> <a class="floor-content">
                <h4 class="floor-classSin-title floor-classSin-title-bgcol1">Node.js</h4>
                <div class="floor-classSin-main">
                  <h4 class="floor-classSin-subTitle">去哪儿前端沙龙分享第三期</h4>
                  <p class="floor-classSin-content">程为去哪儿网前端交互沙龙第三期，精彩分享不容错过噢</p>
                  <div class="floor-classSin-detail">高级· 22749人在学</div>
                </div></a>
              <div class="floor-bkimg"><img src="../../public/images/pc/index/cover002_s.jpg"></div>
            </div>
            <div class="floor-classSin"> <a class="floor-content">
                <h4 class="floor-classSin-title floor-classSin-title-bgcol1">MongoDB</h4>
                <div class="floor-classSin-main">
                  <h4 class="floor-classSin-subTitle">MongoDB复制集—复制集安全</h4>
                  <p class="floor-classSin-content">数据库安全是重中之重，认真对待才能守住数据库的大门</p>
                  <div class="floor-classSin-detail">高级· 1701人在学</div>
                </div></a>
              <div class="floor-bkimg"><img src="../../public/images/pc/index/cover008_s.jpg"></div>
            </div>
            <div class="floor-classSin"> <a class="floor-content">
                <h4 class="floor-classSin-title floor-classSin-title-bgcol1">MongoDB</h4>
                <div class="floor-classSin-main">
                  <h4 class="floor-classSin-subTitle">MongoDB复制集—复制集监控</h4>
                  <p class="floor-classSin-content">关于数据库监控，自有人代劳，做到心中有数，处乱不惊</p>
                  <div class="floor-classSin-detail">高级· 4135人在学 </div>
                </div></a>
              <div class="floor-bkimg"><img src="../../public/images/pc/index/cover012_s.jpg"></div>
            </div>
            <div class="floor-classSin"> <a class="floor-content">
                <h4 class="floor-classSin-title floor-classSin-title-bgcol1">测试</h4>
                <div class="floor-classSin-main">
                  <h4 class="floor-classSin-subTitle">WeTest移动测试系列沙龙-手游安全测试</h4>
                  <p class="floor-classSin-content">游戏安全测试知识干货。</p>
                  <div class="floor-classSin-detail">中级· 364人在学</div>
                </div></a>
              <div class="floor-bkimg"><img src="../../public/images/pc/index/cover016_s.jpg"></div>
            </div>
            <div class="floor-classSin"> <a class="floor-content">
                <h4 class="floor-classSin-title floor-classSin-title-bgcol1">MySQLOracle</h4>
                <div class="floor-classSin-main">
                  <h4 class="floor-classSin-subTitle">2015 Oracle技术嘉年华</h4>
                  <p class="floor-classSin-content">2015 Oracle技术嘉年华尽在慕课网，让大家尽情享用技术盛宴</p>
                  <div class="floor-classSin-detail">高级· 22749人在学</div>
                </div></a>
              <div class="floor-bkimg"><img src="../../public/images/pc/index/cover017_s.jpg"></div>
            </div>
          </div>
        </div>
        <div id="secondFloor" class="floor">
          <div class="foolTitle">
            <h3>免费好课</h3><span class="more">更多</span>
          </div>
          <div class="floor-classList">
            <div class="floor-classSin"> <a class="floor-content">
                <h4 class="floor-classSin-title floor-classSin-title-bgcol1">Node.js</h4>
                <div class="floor-classSin-main">
                  <h4 class="floor-classSin-subTitle">去哪儿前端沙龙分享第三期</h4>
                  <p class="floor-classSin-content">程为去哪儿网前端交互沙龙第三期，精彩分享不容错过噢</p>
                  <div class="floor-classSin-detail">高级· 22749人在学</div>
                </div></a>
              <div class="floor-bkimg"><img src="../../public/images/pc/index/cover019_s.jpg"></div>
            </div>
            <div class="floor-classSin"> <a class="floor-content">
                <h4 class="floor-classSin-title floor-classSin-title-bgcol1">MongoDB</h4>
                <div class="floor-classSin-main">
                  <h4 class="floor-classSin-subTitle">MongoDB复制集—复制集安全</h4>
                  <p class="floor-classSin-content">数据库安全是重中之重，认真对待才能守住数据库的大门</p>
                  <div class="floor-classSin-detail">高级· 1701人在学</div>
                </div></a>
              <div class="floor-bkimg"><img src="../../public/images/pc/index/cover020_s.jpg"></div>
            </div>
            <div class="floor-classSin"> <a class="floor-content">
                <h4 class="floor-classSin-title floor-classSin-title-bgcol1">MongoDB</h4>
                <div class="floor-classSin-main">
                  <h4 class="floor-classSin-subTitle">MongoDB复制集—复制集监控</h4>
                  <p class="floor-classSin-content">关于数据库监控，自有人代劳，做到心中有数，处乱不惊</p>
                  <div class="floor-classSin-detail">高级· 4135人在学 </div>
                </div></a>
              <div class="floor-bkimg"><img src="../../public/images/pc/index/cover021_s.jpg"></div>
            </div>
            <div class="floor-classSin"> <a class="floor-content">
                <h4 class="floor-classSin-title floor-classSin-title-bgcol1">测试</h4>
                <div class="floor-classSin-main">
                  <h4 class="floor-classSin-subTitle">WeTest移动测试系列沙龙-手游安全测试</h4>
                  <p class="floor-classSin-content">游戏安全测试知识干货。</p>
                  <div class="floor-classSin-detail">中级· 364人在学</div>
                </div></a>
              <div class="floor-bkimg"><img src="../../public/images/pc/index/cover025_s.jpg"></div>
            </div>
            <div class="floor-classSin"> <a class="floor-content">
                <h4 class="floor-classSin-title floor-classSin-title-bgcol1">MySQLOracle</h4>
                <div class="floor-classSin-main">
                  <h4 class="floor-classSin-subTitle">2015 Oracle技术嘉年华</h4>
                  <p class="floor-classSin-content">2015 Oracle技术嘉年华尽在慕课网，让大家尽情享用技术盛宴</p>
                  <div class="floor-classSin-detail">高级· 22749人在学</div>
                </div></a>
              <div class="floor-bkimg"><img src="../../public/images/pc/index/cover026_s.jpg"></div>
            </div>
          </div>
        </div>
        <div id="thridFloor" class="floor">
          <div class="foolTitle">
            <h3>免费好课</h3><span class="more">更多</span>
          </div>
          <div class="floor-classList">
            <div class="floor-classSin"> <a class="floor-content">
                <h4 class="floor-classSin-title floor-classSin-title-bgcol1">Node.js</h4>
                <div class="floor-classSin-main">
                  <h4 class="floor-classSin-subTitle">去哪儿前端沙龙分享第三期</h4>
                  <p class="floor-classSin-content">程为去哪儿网前端交互沙龙第三期，精彩分享不容错过噢</p>
                  <div class="floor-classSin-detail">高级· 22749人在学</div>
                </div></a>
              <div class="floor-bkimg"><img src="../../public/images/pc/index/cover034_s.jpg"></div>
            </div>
            <div class="floor-classSin"> <a class="floor-content">
                <h4 class="floor-classSin-title floor-classSin-title-bgcol1">MongoDB</h4>
                <div class="floor-classSin-main">
                  <h4 class="floor-classSin-subTitle">MongoDB复制集—复制集安全</h4>
                  <p class="floor-classSin-content">数据库安全是重中之重，认真对待才能守住数据库的大门</p>
                  <div class="floor-classSin-detail">高级· 1701人在学</div>
                </div></a>
              <div class="floor-bkimg"><img src="../../public/images/pc/index/cover037_s.jpg"></div>
            </div>
            <div class="floor-classSin"> <a class="floor-content">
                <h4 class="floor-classSin-title floor-classSin-title-bgcol1">MongoDB</h4>
                <div class="floor-classSin-main">
                  <h4 class="floor-classSin-subTitle">MongoDB复制集—复制集监控</h4>
                  <p class="floor-classSin-content">关于数据库监控，自有人代劳，做到心中有数，处乱不惊</p>
                  <div class="floor-classSin-detail">高级· 4135人在学 </div>
                </div></a>
              <div class="floor-bkimg"><img src="../../public/images/pc/index/cover039_s.jpg"></div>
            </div>
            <div class="floor-classSin"> <a class="floor-content">
                <h4 class="floor-classSin-title floor-classSin-title-bgcol1">测试</h4>
                <div class="floor-classSin-main">
                  <h4 class="floor-classSin-subTitle">WeTest移动测试系列沙龙-手游安全测试</h4>
                  <p class="floor-classSin-content">游戏安全测试知识干货。</p>
                  <div class="floor-classSin-detail">中级· 364人在学</div>
                </div></a>
              <div class="floor-bkimg"><img src="../../public/images/pc/index/cover041_s.jpg"></div>
            </div>
            <div class="floor-classSin"> <a class="floor-content">
                <h4 class="floor-classSin-title floor-classSin-title-bgcol1">MySQLOracle</h4>
                <div class="floor-classSin-main">
                  <h4 class="floor-classSin-subTitle">2015 Oracle技术嘉年华</h4>
                  <p class="floor-classSin-content">2015 Oracle技术嘉年华尽在慕课网，让大家尽情享用技术盛宴</p>
                  <div class="floor-classSin-detail">高级· 22749人在学</div>
                </div></a>
              <div class="floor-bkimg"><img src="../../public/images/pc/index/cover043_s.jpg"></div>
            </div>
          </div>
        </div>
        <div id="fourthFloor" class="floor">
          <div class="foolTitle">
            <h3>免费好课</h3><span class="more">更多</span>
          </div>
          <div class="floor-classList">
            <div class="floor-classSin"> <a class="floor-content">
                <h4 class="floor-classSin-title floor-classSin-title-bgcol1">Node.js</h4>
                <div class="floor-classSin-main">
                  <h4 class="floor-classSin-subTitle">去哪儿前端沙龙分享第三期</h4>
                  <p class="floor-classSin-content">程为去哪儿网前端交互沙龙第三期，精彩分享不容错过噢</p>
                  <div class="floor-classSin-detail">高级· 22749人在学</div>
                </div></a>
              <div class="floor-bkimg"><img src="../../public/images/pc/index/cover046_s.jpg"></div>
            </div>
            <div class="floor-classSin"> <a class="floor-content">
                <h4 class="floor-classSin-title floor-classSin-title-bgcol1">MongoDB</h4>
                <div class="floor-classSin-main">
                  <h4 class="floor-classSin-subTitle">MongoDB复制集—复制集安全</h4>
                  <p class="floor-classSin-content">数据库安全是重中之重，认真对待才能守住数据库的大门</p>
                  <div class="floor-classSin-detail">高级· 1701人在学</div>
                </div></a>
              <div class="floor-bkimg"><img src="../../public/images/pc/index/cover047_s.jpg"></div>
            </div>
            <div class="floor-classSin"> <a class="floor-content">
                <h4 class="floor-classSin-title floor-classSin-title-bgcol1">MongoDB</h4>
                <div class="floor-classSin-main">
                  <h4 class="floor-classSin-subTitle">MongoDB复制集—复制集监控</h4>
                  <p class="floor-classSin-content">关于数据库监控，自有人代劳，做到心中有数，处乱不惊</p>
                  <div class="floor-classSin-detail">高级· 4135人在学 </div>
                </div></a>
              <div class="floor-bkimg"><img src="../../public/images/pc/index/cover049_s.jpg"></div>
            </div>
            <div class="floor-classSin"> <a class="floor-content">
                <h4 class="floor-classSin-title floor-classSin-title-bgcol1">测试</h4>
                <div class="floor-classSin-main">
                  <h4 class="floor-classSin-subTitle">WeTest移动测试系列沙龙-手游安全测试</h4>
                  <p class="floor-classSin-content">游戏安全测试知识干货。</p>
                  <div class="floor-classSin-detail">中级· 364人在学</div>
                </div></a>
              <div class="floor-bkimg"><img src="../../public/images/pc/index/cover016_s.jpg"></div>
            </div>
            <div class="floor-classSin"> <a class="floor-content">
                <h4 class="floor-classSin-title floor-classSin-title-bgcol1">MySQLOracle</h4>
                <div class="floor-classSin-main">
                  <h4 class="floor-classSin-subTitle">2015 Oracle技术嘉年华</h4>
                  <p class="floor-classSin-content">2015 Oracle技术嘉年华尽在慕课网，让大家尽情享用技术盛宴</p>
                  <div class="floor-classSin-detail">高级· 22749人在学</div>
                </div></a>
              <div class="floor-bkimg"><img src="../../public/images/pc/index/cover020_s.jpg"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="load-cover">
      <div class="load-form">
        <div class="load-close"><span class="load-close-btn glyphicon glyphicon-remove"></span></div>
        <div class="load-choose"><span id="load-choose-load" class="load-choose-form load-choose-select">账户登录</span><span class="load-choose-scan">立即注册</span></div>
        <div class="load-wrap">
          <div class="load-wrap-inner">
            <div class="load-wrap-form"><span class="load-form-alert">公共场所不建议自动登录，以防账号丢失<span class="glyphicon glyphicon-exclamation-sign"></span></span>
              <form method="post" class="load-form-content">
                <div class="load-formCon-line"><span class="glyphicon glyphicon-user load-formCon-icon"></span>
                  <input type="text" placeholder="邮箱/用户名/手机" class="load-formCon-input">
                </div>
                <div class="load-formCon-line"><span class="glyphicon glyphicon-lock load-formCon-icon"></span>
                  <input type="password" placeholder="密码" class="load-formCon-input">
                </div>
                <div class="load-form-forget">
                  <input type="checkbox"><span>自动登录</span><a href="javascript:;">忘记密码</a>
                </div>
                <input type="submit" value="登 录" class="load-formCon-submit">
              </form>
            </div>
            <div class="load-register">
              <form method="post" class="load-form-content">
                <div class="load-formCon-line"><span class="glyphicon glyphicon-user load-formCon-icon"></span>
                  <input type="text" placeholder="请输入注册邮箱/手机号" class="load-formCon-input">
                </div>
                <div class="load-formCon-line"><span class="glyphicon glyphicon-lock load-formCon-icon"></span>
                  <input type="password" placeholder="请输入密码" class="load-formCon-input">
                </div>
                <div class="load-formCon-line"><span class="glyphicon glyphicon-lock load-formCon-icon"></span>
                  <input type="password" placeholder="请再次输入密码以确认" class="load-formCon-input">
                </div>
                <input type="submit" value="注 册" class="load-formCon-submit">
              </form>
            </div>
          </div>
        </div>
        <ul class="load-other">
          <li><span class="load-other-qq"></span><a href="javascript:;">QQ</a></li>
          <li><span class="load-other-weixin"></span><a href="javascript:;">微信</a></li>
          <li><span class="load-other-zhi"></span><a href="javascript:;">支付宝</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-outer">
      <div class="footer"> 
        <ul class="footer-propaganda">
          <li class="footer-propagadan-frist"><a href="javascript:void();"></a></li>
          <li class="footer-propagadan-second"><a href="javascript:void();"></a></li>
          <li class="footer-propagadan-thrid"><a href="javascript:void();"></a></li>
          <li class="footer-propagadan-fourth"><a href="javascript:void();"></a></li>
        </ul>
        <ul class="footer-links">
          <li><a href="javascript:void();">企业合作</a></li>
          <li><a href="javascript:void();">人才招聘</a></li>
          <li><a href="javascript:void();">联系我们</a></li>
          <li><a href="javascript:void();">讲师招募</a></li>
          <li><a href="javascript:void();">常见问题</a></li>
          <li><a href="javascript:void();">意见反馈</a></li>
          <li><a href="javascript:void();">慕课大学</a></li>
          <li><a href="javascript:void();">友情链接</a></li>
        </ul>
        <div class="footer-divider"></div>
        <div class="footer-copyright"><span>© 2017 127.0.0.1  京ICP备 130565564562号-2</span></div>
      </div>
    </div>
    <script src="../../public/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../public/script/index.js"></script>
    <script src="../../public/script/load.js"></script>
  </body>
</html>