doctype
html
	head
		title #{title}
	body
		a(href="javascript:void(0);" class="hasParamLink") 1 
		a(href="javascript:void(0);") 2 
		a(href="javascript:void(0);") 3 
		a(href="javascript:void(0);") 4  
		a(href="javascript:void(0);") 5 
		a(href="javascript:void(0);") 6  
		a(href="http://www.baidu.com/s?wd=事件" class="hasParamLink") 7 
		form(action="video.jsp" method="post" class="hideForm")
	script(src="script/converToPost.js")

