<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="../../public/style/test.css" rel="stylesheet" type="text/css">
    <link href="../../public/style/public.css" rel="stylesheet" type="text/css">
    <link href="../../public/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../../public/style/loadOrRegister.css" rel="stylesheet" type="text/css">
  </head>
  <body style="background:#F3F5F7;">
    <div class="index-header"> 
      <div class="header-left">
        <div class="header-left-logo">Xing educate</div>
        <ul class="header-left-list">
          <li> <a href="javascript:void();">慕课网</a></li>
          <li> <a href="javascript:void();">课程</a></li>
          <li> <a href="javascript:void();">职业路径</a></li>
          <li> <a href="javascript:void();">实战</a></li>
          <li> <a href="javascript:void();">猿问</a></li>
          <li> <a href="javascript:void();">手记</a></li>
        </ul>
      </div>
      <div class="header-right">
        <div class="header-right-search">
          <input type="text" name="">
          <input type="submit" name="" value=" ">
        </div>
        <div class="header-right-message glyphicon glyphicon-envelope hide"></div>
        <div class="header-right-usr hide"><img src="../../public/images/pc/index/usr2.jpg"></div>
        <div class="header-right-loadbtn">登录</div>
        <div class="header-right-registerbtn">注册</div>
      </div>
    </div>
    <div class="content">
      <div class="video-info">
        <h3 class="video-info-title">信管2016年开放实验启动课程（开放实验起源及意义介绍）</h3>
        <div class="video-info-detail"><span class="video-info-detailTitle">分类:</span><span class="video-info-detailCon">课外拓展>开放实验</span><span class="video-info-detailTitle">时间:</span><span class="video-info-detailCon">2016年1月08日</span></div>
        <div class="video-info-hot"><span alt="play number" class="video-info-hotTitle glyphicon glyphicon-play-circle"></span><span class="video-info-hotCon">12,236</span><span class="video-info-hotTitle glyphicon glyphicon-heart"></span><span class="video-info-hotCon">536</span><span class="video-info-hotTitle glyphicon glyphicon-list-alt"></span><span class="video-info-hotCon">52</span></div>
      </div>
      <div class="video-banner"><a href="javascript:void(0);"><img src="../../public/images/pc/index/detailBanner4.jpg" alt=""></a><a href="javascript:void(0);"><img src="../../public/images/pc/index/detailBanner5.jpg" alt=""></a></div>
    </div>
    <div class="video-wrap">
      <div class="video-main"><span class="video-directory-title"><span class="video-directory-titleName">目录：</span><span class="glyphicon glyphicon-eye-close video-directory-btn"></span></span>
        <ul class="video-directory">
          <li><a href="javascript:void(0);">1.信管2016年开放实验启动课程</a></li>
          <li><a href="javascript:void(0);">2.开放实验第二课</a></li>
          <li class="video-directory-nowItem"><a href="javascript:void(0);">3.开放实验第三课</a></li>
        </ul>
        <div class="video-outer">
          <div class="video-advertise">
            <div class="video-advertise-toLeft"></div>
            <div class="video-advertise-con"><span>开放实验上线啦快快学起来，你的同学等你很久了</span><span>安卓课程上线啦快快学起来，你的同学等你很久了</span><span>前端课程上线啦快快学起来，你的同学等你很久了</span><span>开放实验上线啦快快学起来，你的同学等你很久了</span><span>安卓课程上线啦快快学起来，你的同学等你很久了 </span></div>
            <div class="video-advertise-toRight"></div>
          </div>
          <video src="../../public/videos/MVI_2389.MOV" controls="controls"></video>
          <canvas></canvas>
          <div class="caption-input">
            <div class="caption-input-opertaionGroup">
              <label class="colorItemsTitle">弹幕颜色</label>
              <ul class="colorItems">
                <li id="colorItemFrist" class="selectedColor"></li>
                <li id="colorItemSecond"></li>
                <li id="colorItemThrid"></li>
                <li id="colorItemFourth"></li>
                <li id="colorItemFifth"></li>
                <li id="colorItemSixth"></li>
              </ul>
            </div>
            <div class="caption-input-opertaionGroup">
              <label for="ismoveCheckbox" class="ismoveTitle">移动弹幕</label>
              <input type="checkbox" name="ismoveCheckbox" checked="checked" class="caption-input-ismove">
            </div>
            <div class="caption-input-opertaionGroup">
              <input type="text" name="" placeholder="尽情地发表自己的意见" class="caption-input-text"><span class="caption-sendButton">发送</span>
            </div>
          </div>
          <div class="video-conversition">
            <div class="video-conver-title">聊天室</div>
            <div class="video-conver-main">
              <div class="video-conver-sin">
                <div class="video-converSin-usrheader"><img src="../../public/images/pc/index/usr5.jpg"></div>
                <div class="video-converSin-con"><span class="vieo-converSin-username">爱哭的毛毛虫</span>
                  <div class="video-converSin-text">开放实验原来起源于美国啊。</div>
                </div>
              </div>
              <div class="video-conver-sin">
                <div class="video-converSin-usrheader"><img src="../../public/images/pc/index/usr4.jpg"></div>
                <div class="video-converSin-con"><span class="vieo-converSin-username">扫除一切害人虫</span>
                  <div class="video-converSin-text">开放实验是为了同学们更加自由地去发挥自己能力以及拓展自</div>
                </div>
              </div>
              <div class="video-conver-sin">
                <div class="video-converSin-usrheader"><img src="../../public/images/pc/index/usr5.jpg"></div>
                <div class="video-converSin-con"><span class="vieo-converSin-username">爱哭的毛毛虫</span>
                  <div class="video-converSin-text">开放实验原来起源于美国啊。</div>
                </div>
              </div>
              <div class="video-conver-sin">
                <div class="video-converSin-usrheader"><img src="../../public/images/pc/index/usr4.jpg"></div>
                <div class="video-converSin-con"><span class="vieo-converSin-username">扫除一切害人虫</span>
                  <div class="video-converSin-text">开放实验是为了同学们更加自由地去发挥自己能力以及拓展自</div>
                </div>
              </div>
              <div class="video-conver-sin">
                <div class="video-converSin-usrheader"><img src="../../public/images/pc/index/usr5.jpg"></div>
                <div class="video-converSin-con"><span class="vieo-converSin-username">爱哭的毛毛虫</span>
                  <div class="video-converSin-text">开放实验原来起源于美国啊。</div>
                </div>
              </div>
              <div class="video-conver-sin video-conver-mymessage">
                <div class="video-converSin-usrheader"><img src="../../public/images/pc/index/usr3.jpg"></div>
                <div class="video-converSin-con"><span class="vieo-converSin-username">汉东网警</span>
                  <div class="video-converSin-text">你们说的都对</div>
                </div>
              </div>
              <div class="video-conver-sin">
                <div class="video-converSin-usrheader"><img src="../../public/images/pc/index/usr5.jpg"></div>
                <div class="video-converSin-con"><span class="vieo-converSin-username">爱哭的毛毛虫</span>
                  <div class="video-converSin-text">开放实验原来起源于美国啊。</div>
                </div>
              </div>
              <div class="video-conver-sin">
                <div class="video-converSin-usrheader"><img src="../../public/images/pc/index/usr4.jpg"></div>
                <div class="video-converSin-con"><span class="vieo-converSin-username">扫除一切害人虫</span>
                  <div class="video-converSin-text">开放实验是为了同学们更加自由地去发挥自己能力以及拓展自</div>
                </div>
              </div>
            </div>
            <div class="video-conver-send">
              <input type="text" name="" placeholder="发送消息，分享心得，和同学一起思考" class="video-conver-sendTxt"><span class="video-conver-sendBtn">发送</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="video-recommand">
      <div class="video-recommand-banner"><a href="javascript:void(0);"><img src="../../public/images/pc/index/detailBannerText2.jpg"></a></div>
      <div id="firstFloor" class="floor">
        <div class="foolTitle">
          <h3>课程推荐</h3><span class="more">更多</span>
        </div>
        <div class="floor-classList">
          <div class="floor-classSin"> <a class="floor-content">
              <h4 class="floor-classSin-title floor-classSin-title-bgcol1">Node.js</h4>
              <div class="floor-classSin-main">
                <h4 class="floor-classSin-subTitle">去哪儿前端沙龙分享第三期</h4>
                <p class="floor-classSin-content">程为去哪儿网前端交互沙龙第三期，精彩分享不容错过噢</p>
                <div class="floor-classSin-detail">高级· 22749人在学</div>
              </div></a>
            <div class="floor-bkimg"><img src="../../public/images/pc/index/cover002_s.jpg"></div>
          </div>
          <div class="floor-classSin"> <a class="floor-content">
              <h4 class="floor-classSin-title floor-classSin-title-bgcol1">MongoDB</h4>
              <div class="floor-classSin-main">
                <h4 class="floor-classSin-subTitle">MongoDB复制集—复制集安全</h4>
                <p class="floor-classSin-content">数据库安全是重中之重，认真对待才能守住数据库的大门</p>
                <div class="floor-classSin-detail">高级· 1701人在学</div>
              </div></a>
            <div class="floor-bkimg"><img src="../../public/images/pc/index/cover008_s.jpg"></div>
          </div>
          <div class="floor-classSin"> <a class="floor-content">
              <h4 class="floor-classSin-title floor-classSin-title-bgcol1">MongoDB</h4>
              <div class="floor-classSin-main">
                <h4 class="floor-classSin-subTitle">MongoDB复制集—复制集监控</h4>
                <p class="floor-classSin-content">关于数据库监控，自有人代劳，做到心中有数，处乱不惊</p>
                <div class="floor-classSin-detail">高级· 4135人在学 </div>
              </div></a>
            <div class="floor-bkimg"><img src="../../public/images/pc/index/cover012_s.jpg"></div>
          </div>
          <div class="floor-classSin"> <a class="floor-content">
              <h4 class="floor-classSin-title floor-classSin-title-bgcol1">测试</h4>
              <div class="floor-classSin-main">
                <h4 class="floor-classSin-subTitle">WeTest移动测试系列沙龙-手游安全测试</h4>
                <p class="floor-classSin-content">游戏安全测试知识干货。</p>
                <div class="floor-classSin-detail">中级· 364人在学</div>
              </div></a>
            <div class="floor-bkimg"><img src="../../public/images/pc/index/cover016_s.jpg"></div>
          </div>
          <div class="floor-classSin"> <a class="floor-content">
              <h4 class="floor-classSin-title floor-classSin-title-bgcol1">MySQLOracle</h4>
              <div class="floor-classSin-main">
                <h4 class="floor-classSin-subTitle">2015 Oracle技术嘉年华</h4>
                <p class="floor-classSin-content">2015 Oracle技术嘉年华尽在慕课网，让大家尽情享用技术盛宴</p>
                <div class="floor-classSin-detail">高级· 22749人在学</div>
              </div></a>
            <div class="floor-bkimg"><img src="../../public/images/pc/index/cover017_s.jpg"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="load-cover">
      <div class="load-form">
        <div class="load-close"><span class="load-close-btn glyphicon glyphicon-remove"></span></div>
        <div class="load-choose"><span id="load-choose-load" class="load-choose-form load-choose-select">账户登录</span><span class="load-choose-scan">立即注册</span></div>
        <div class="load-wrap">
          <div class="load-wrap-inner">
            <div class="load-wrap-form"><span class="load-form-alert">公共场所不建议自动登录，以防账号丢失<span class="glyphicon glyphicon-exclamation-sign"></span></span>
              <form method="post" class="load-form-content">
                <div class="load-formCon-line"><span class="glyphicon glyphicon-user load-formCon-icon"></span>
                  <input type="text" placeholder="邮箱/用户名/手机" class="load-formCon-input">
                </div>
                <div class="load-formCon-line"><span class="glyphicon glyphicon-lock load-formCon-icon"></span>
                  <input type="password" placeholder="密码" class="load-formCon-input">
                </div>
                <div class="load-form-forget">
                  <input type="checkbox"><span>自动登录</span><a href="javascript:;">忘记密码</a>
                </div>
                <input type="submit" value="登 录" class="load-formCon-submit">
              </form>
            </div>
            <div class="load-register">
              <form method="post" class="load-form-content">
                <div class="load-formCon-line"><span class="glyphicon glyphicon-user load-formCon-icon"></span>
                  <input type="text" placeholder="请输入注册邮箱/手机号" class="load-formCon-input">
                </div>
                <div class="load-formCon-line"><span class="glyphicon glyphicon-lock load-formCon-icon"></span>
                  <input type="password" placeholder="请输入密码" class="load-formCon-input">
                </div>
                <div class="load-formCon-line"><span class="glyphicon glyphicon-lock load-formCon-icon"></span>
                  <input type="password" placeholder="请再次输入密码以确认" class="load-formCon-input">
                </div>
                <input type="submit" value="注 册" class="load-formCon-submit">
              </form>
            </div>
          </div>
        </div>
        <ul class="load-other">
          <li><span class="load-other-qq"></span><a href="javascript:;">QQ</a></li>
          <li><span class="load-other-weixin"></span><a href="javascript:;">微信</a></li>
          <li><span class="load-other-zhi"></span><a href="javascript:;">支付宝</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-outer">
      <div class="footer"> 
        <ul class="footer-propaganda">
          <li class="footer-propagadan-frist"><a href="javascript:void();"></a></li>
          <li class="footer-propagadan-second"><a href="javascript:void();"></a></li>
          <li class="footer-propagadan-thrid"><a href="javascript:void();"></a></li>
          <li class="footer-propagadan-fourth"><a href="javascript:void();"></a></li>
        </ul>
        <ul class="footer-links">
          <li><a href="javascript:void();">企业合作</a></li>
          <li><a href="javascript:void();">人才招聘</a></li>
          <li><a href="javascript:void();">联系我们</a></li>
          <li><a href="javascript:void();">讲师招募</a></li>
          <li><a href="javascript:void();">常见问题</a></li>
          <li><a href="javascript:void();">意见反馈</a></li>
          <li><a href="javascript:void();">慕课大学</a></li>
          <li><a href="javascript:void();">友情链接</a></li>
        </ul>
        <div class="footer-divider"></div>
        <div class="footer-copyright"><span>© 2017 127.0.0.1  京ICP备 130565564562号-2</span></div>
      </div>
    </div>
  </body>
  <script src="../../public/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../../public/script/test.js"></script>
  <script src="../../public/script/detailpage.js"></script>
  <script src="../../public/script/load.js"></script>
</html>